html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.sk-linkedin-page-post-profile-info {
  width: 100% !important;
}

.grid-item-linkedin-page-post {
  width: 100% !important;
}

.header-footer-root {
  display: grid;
  min-height: 100vh;
  grid-template: auto 1fr auto / 1fr;
}
